@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

:root {
    --primary:  #E0E7FF;
    --dark: #312E81;
    --light: #EEF2FF;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: var(--dark);
}

body {
    background: #C7D2FE;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

.btn:hover {
    background: var(--light);
    color: var(--dark);
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

/* Logo */
.logo {
    background: var(--primary);
    box-shadow: var(--shadow);
    text-align: center;
    margin-bottom: 0;
    position: relative;

}

.logo h1 {
    font-size: 4rem;
    font-weight: 700;
}

.logo h1 span {
    font-size: 4rem;
    color: red;
}

/* Navigation */
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 0;
}

.main-nav li a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav li a:hover {
    background: var(--dark);
    color: var(--light);
}

/* Top Container */
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        'showcase showcase top-box-a'
        'showcase showcase top-box-b';
}

.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./images/header.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}

/* Top Box */
.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box .price {
    font-size: 2rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

/* Section: Boxes */

.card_container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
    background: var(--primary);
    box-shadow: var(--shadow);
    padding: 1.5rem 2rem;
    text-align: center;
}

/* Section: Info */
.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 3rem;
}

/* Section: Portfolio */
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}

/* Footer */
footer {
    margin-top: 2rem;
    background: var(--dark);
    text-align: center;
    color: var(--light);
}

footer a {
    text-decoration: none;
    color:#818CF8;
}

/* Media Queries */
@media(max-width: 700px) {
.top-container {
    grid-template-areas:
        'showcase showcase'
        'top-box-a top-box-b';
} 

.showcase h1 {
    font-size: 2.5rem;
}

.main-nav ul {
    grid-template-columns: 1fr;
}

.info {
    grid-template-columns: 1fr;
}

.info .btn {
    display: block;
    text-align: center;
    margin: auto;
}

@media (max-width: 500px) {
    .top-container {
        grid-template-areas:
        'showcase'
        'top-box-a'
        'top-box-b';
    }

    .logo h1 {
        font-size: 2.5rem;
    }

    .logo h1 span {
        font-size: 2rem;
    }
}
}